.lessons_list {
  padding: 3px;
  margin: 0 0 20px 0;
  position: relative; }
  .lessons_list a:hover > .lessons_summary {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .lessons_list:hover > .play_mark_medium {
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .lessons_list a {
    position: relative;
    display: block; }
  .lessons_list img {
    height: 100%;
    width: 100%; }
  .lessons_list h2 {
    color: #eee;
    font-size: 90%;
    margin: 3px 0 0 0; }
  .lessons_list h3 {
    color: #eee;
    margin: 1px 0 0 0; }
  .lessons_list .lessons_summary {
    background: rgba(0, 0, 0, 0.8);
    bottom: 45px;
    color: white;
    display: block;
    left: 0px;
    min-height: 62%;
    opacity: 0;
    padding: 10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
