.lessons_list {
  position: relative; }
  .lessons_list a:hover > .lessons_summary {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .lessons_list:hover > .play_mark_medium {
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .lessons_list a {
    position: relative;
    display: block; }
  .lessons_list img {
    height: 100%;
    width: 100%; }
  .lessons_list h2 {
    font-size: 90%; }
  .lessons_list .lessons_summary {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
