
.play_mark_large {
  border: 3px solid #fff;
  border-radius:75px;
  height:150px;
  left:50%;
  margin:-75px 0 0 -75px;
  opacity:0.3;
  position:absolute;
  top:50%;
  width:150px;

  &:before {
    border-left: 100px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    content:"";
    height: 0;
    left:33px;
    position:absolute;
    top:21px;
    width: 0;
  }
}

.play_mark_medium {
  border: 2px solid #fff;
  border-radius:35px;
  height:50px;
  left:50%;
  margin:-25px 0 0 -25px;
  opacity:0.50;
  position:absolute;
  top:50%;
  width:50px;

  &:before {
    border-left: 30px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    content:"";
    height: 0;
    left:11px;
    position:absolute;
    top:8px;
    width: 0;
  }
}

.play_mark_small {
  border: 2px solid #fff;
  border-radius:35px;
  height:50px;
  left:50%;
  margin:-25px 0 0 -25px;
  opacity:0.50;
  position:absolute;
  top:50%;
  width:50px;

  &:before {
    border-left: 30px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    content:"";
    height: 0;
    left:11px;
    position:absolute;
    top:8px;
    width: 0;
  }
}
