$font-body: 'News Cycle', sans-serif;
$font-heading: 'Istok Web', sans-serif;

body{
  background:#fefefe;
  color:#333;
  font-family:$font-body;
  font-size: 110%;
}

h1{
  font-family:$font-heading;
  font-weight:400;
}

h2{
  font-family:$font-heading;
  font-weight:400;
  letter-spacing:-1px;
}