@import url('lessons_mod.css');
@import url('lessons.css');
@import url('lesson.css');
@import url('icons.css');
@import url('audio_interface.css');

$font-body: 'News Cycle', sans-serif;
$font-heading: 'Istok Web', sans-serif;
$font-style: 'Satisfy', cursive;

body{
  background:white;
  color:#333;
  font-family:$font-body;
  font-size: 110%;
}

.row {
  width:100%;
  max-width: 100em;
  margin:0px;
  .columns{
    padding:0px;
  }
}

h1{
  font-family:$font-heading;
  font-weight:400;
  color:white;
}

h2{
  font-family:$font-heading;
  font-weight:400;
  letter-spacing:-1px;
}

a{
  text-decoration:none;
  color:#444;
}

.container {
  margin:150px 0 0 0;
}

.page_header{
  background: url(/images/home-header.jpg) no-repeat;
  background-size: 100%;
  border-bottom: 2px solid #999;
  border-top:3px solid #777;
  font-size: 0%;
  padding:9% 0;
  position: relative;
  width:100%;
  .page_header_info_one{
    background:rgba(255,255,255,0.5);
    bottom:120px;
    height:27px;
    left:0px;
    padding:0px 30px;
    position: absolute;
    text-align: left;
    width:100%;
    h1{
      font-family: $font-style;
      font-size: 46px;
      margin:-10px 0 0 0;
      text-shadow:1px 1px 0px #333;
    }
  }
  .page_header_info_two{
    background:rgba(255,255,255,0.5);
    bottom:70px;
    height:47px;
    left:0px;
    padding:0px 30px;
    position: absolute;
    text-align: center;
    width:100%;
    h1{
      font-family: $font-style;
      font-size: 86px;
      margin:-20px 0 0 0;
      text-shadow:1px 1px 0px #333;
    }
  }
  .page_header_info_three{
    background:rgba(100,100,100,0.5);
    bottom:20px;
    height:34px;
    left:0px;
    padding:0px 50px;
    position: absolute;
    text-align: right;
    width:100%;
    h1{
      color:#ccc;
      font-family: $font-style;
      font-size: 46px;
      margin:-3px 0 0 0;
      text-shadow:1px 1px 1px #333, -1px -1px 1px #fff;
    }
  }
}

.nav_container{
  bottom:0px;
  position:relative;
  text-align:center;
  .nav_item{
    a{
      display:block;
      height:50px;
      padding:15px 0 0 0;
      width:100%;
      &:hover{color:#333;}
    }
    &:hover{
      background:#ccc;
    }
  }
}

.section {
  padding:0px 20px;
  max-width:1040px;
  margin:0 auto 100px;
  min-height: 300px;
  width:80%
}

.page_quote{
  font-family: $font-heading;
  height:180px;  
  left:20px;
  position:absolute;
  text-align: center;
  top:-220px;
  width:360px;
  .sun_css{
    background: #fbf62a;
    border-radius: 150px;
    bottom:-54px;
    height:200px;
    left:-80px;
    position: absolute;
    width:200px;
    z-index: 8;
  }
  .path_css{
    background:#333;
    border-radius:100px;
    bottom:0px;
    height:70px;
    position:absolute;
    right:5px;
    width:120px;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(150deg);
    &:before{
      border-top: 270px solid #333;
      border-left: 200px solid transparent;
      content:"";
      left:-140px;
      height: 0;
      position:absolute;
      top:-200px;
      width: 0;
    } 
  }
  .quote_container{
    position: absolute;
    z-index: 9;
    h1{
      color:#444;
      font-size:140%;
      font-weight: bold;
      line-height: 1.1em;
      margin:0px;
      text-transform: uppercase;
    }
    h2{
      color:#444;
      font-size:260%;
      font-style: italic;
      line-height: 0.9em;
      margin:0px;
    }
    h3{
      color:#444;
      font-size: 200%;
      letter-spacing: 1px;
      line-height: 1em;
      margin:0px;
      text-transform: uppercase; 
    }
  } 
}

.footer{
  background:#333;
  height:360px;
  position: relative;
  width:100%;
  padding:20px 0 0 0;
  z-index:98;
  .footer_content_container{
    position:relative;
    z-index:9;
    .footer_content{
      .footer_content_header{
        background: #444;
        color:#ccc;
        height:40px;
        padding:5px;
        text-align: center;
      }
      .footer_content_body{
        background:#777;
        padding:10px;
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .lesson_mod{
    height:auto;
    .lesson_mod_menu{
      .lesson_mod_controls{
        height:120px;
        width:68%;
      }
      .lesson_mod_info{
        width:90%;
      } 
    }
  }  
  .nav_container{
    margin:100px 0 0 0;
  }
  .section{
    width:97%;
  }
}










.lesson_show_back{
  background:url(/images/crying_out_to_god.jpg) right top no-repeat;
  background-size:100%;
  background-position:0 -100px;
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  height:100%;
  width:100%;
  position:absolute;
  &:after{
    content:"";
    background:rgba(255,255,255,0.6);
    height:100%;
    left:0px;
    top:0px;
    width:100%;
    position:absolute;
  }
}



