@import url('lessons_mod.css');
@import url('lessons.css');
@import url('lesson.css');
@import url('icons.css');
@import url('audio_interface.css');
body {
  background: white;
  color: #333;
  font-family: "News Cycle", sans-serif;
  font-size: 110%; }

.row {
  max-width: 82em; }

h1 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  color: white; }

h2 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  letter-spacing: -1px; }

a {
  text-decoration: none;
  color: #777; }

.container {
  margin: 210px 0 0 0; }

.home_header {
  background: url(/images/grid.png);
  background-position: 0 -2px;
  padding: 40px;
  width: 100%; }

.nav_container {
  bottom: 0px;
  position: absolute;
  text-align: center; }
  .nav_container .nav_item a {
    line-height: 4em;
    display: block;
    width: 100%; }
    .nav_container .nav_item a:hover {
      color: #333; }
  .nav_container .nav_item:hover {
    background: #ccc; }

.section {
  padding: 10px 20px;
  max-width: 1040px;
  margin: 0 auto;
  width: 80%; }
