@import url("lessons.css");
@import url("lesson.css");
@import url("icons.css");
body {
  background: white;
  color: #333;
  font-family: "News Cycle", sans-serif;
  font-size: 110%; }

.row {
  width: 100%;
  max-width: auto; }

h1 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  color: white; }

h2 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  letter-spacing: -1px; }

a {
  text-decoration: none;
  color: #444; }

.container {
  margin: 150px 0 0 0; }

.page_strip {
  background: url(/images/grid.png);
  background-position: 0 -440px;
  height: 20px;
  width: 100%; }

.home_header {
  background: url(/images/home-header.jpg) no-repeat;
  background-size: 100%;
  border-bottom: 1px solid #999;
  font-size: 0%;
  padding: 9% 0;
  position: relative;
  width: 100%; }
  .home_header .home_header_info_one {
    background: rgba(255, 255, 255, 0.5);
    bottom: 120px;
    height: 27px;
    left: 0px;
    padding: 0px 30px;
    position: absolute;
    text-align: left;
    width: 100%; }
    .home_header .home_header_info_one h1 {
      font-family: "Satisfy", cursive;
      font-size: 46px;
      margin: -10px 0 0 0;
      text-shadow: 1px 1px 0px #333; }
  .home_header .home_header_info_two {
    background: rgba(255, 255, 255, 0.5);
    bottom: 70px;
    height: 47px;
    left: 0px;
    padding: 0px 30px;
    position: absolute;
    text-align: center;
    width: 100%; }
    .home_header .home_header_info_two h1 {
      font-family: "Satisfy", cursive;
      font-size: 86px;
      margin: -20px 0 0 0;
      text-shadow: 1px 1px 0px #333; }
  .home_header .home_header_info_three {
    background: rgba(100, 100, 100, 0.5);
    bottom: 20px;
    height: 34px;
    left: 0px;
    padding: 0px 50px;
    position: absolute;
    text-align: right;
    width: 100%; }
    .home_header .home_header_info_three h1 {
      color: #ccc;
      font-family: "Satisfy", cursive;
      font-size: 46px;
      margin: -3px 0 0 0;
      text-shadow: 1px 1px 1px #333, -1px -1px 1px #fff; }

.nav_container {
  bottom: 0px;
  position: relative;
  text-align: center; }
  .nav_container .nav_item a {
    display: block;
    height: 50px;
    padding: 15px 0 0 0;
    width: 100%; }
    .nav_container .nav_item a:hover {
      color: #333; }
  .nav_container .nav_item:hover {
    background: #ccc; }

.section {
  padding: 0px 20px;
  max-width: 1040px;
  margin: 0 auto 100px;
  min-height: 300px;
  width: 80%; }

.home_quote {
  font-family: "Istok Web", sans-serif;
  height: 180px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: -110px;
  width: 340px; }
  .home_quote .sun_css {
    background: #fbf62a;
    border-radius: 50px;
    bottom: 24px;
    height: 100px;
    position: absolute;
    right: 66px;
    width: 100px;
    z-index: 8; }
  .home_quote .quote_container {
    position: absolute;
    z-index: 9; }
    .home_quote .quote_container h1 {
      color: #444;
      font-weight: bold;
      line-height: 0.8em;
      margin: 0px;
      text-transform: uppercase; }
    .home_quote .quote_container h2 {
      color: #444;
      font-size: 260%;
      font-style: italic;
      line-height: 1.2em;
      margin: 0px; }
    .home_quote .quote_container h3 {
      color: #444;
      font-size: 240%;
      letter-spacing: 1px;
      line-height: 1em;
      margin: 0px;
      text-transform: uppercase; }

.footer {
  background: #95ff6c;
  height: 360px;
  position: relative;
  width: 100%; }

@media screen and (max-width: 700px) {
  .lesson_mod {
    height: auto; }
    .lesson_mod .lesson_mod_menu .lesson_mod_controls {
      height: 120px;
      width: 68%; }
    .lesson_mod .lesson_mod_menu .lesson_mod_info {
      width: 90%; }

  .nav_container {
    margin: 100px 0 0 0; }

  .section {
    width: 97%; } }
.play_button {
  font-size: 0%; }

.paused.play_mark_large {
  border: 3px solid #fff;
  border-radius: 75px;
  height: 150px;
  left: 50%;
  margin: -75px 0 0 -75px;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  width: 150px; }
  .paused.play_mark_large:before {
    border-left: 100px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    content: "";
    height: 0;
    left: 33px;
    position: absolute;
    top: 21px;
    width: 0; }

.play_mark_medium {
  border: 2px solid #fff;
  border-radius: 35px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.50;
  position: absolute;
  top: 50%;
  width: 50px; }
  .play_mark_medium:before {
    border-left: 30px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    content: "";
    height: 0;
    left: 11px;
    position: absolute;
    top: 8px;
    width: 0; }

.play_mark_small {
  border: 2px solid #fff;
  border-radius: 35px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.50;
  position: absolute;
  top: 50%;
  width: 50px; }
  .play_mark_small:before {
    border-left: 30px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    content: "";
    height: 0;
    left: 11px;
    position: absolute;
    top: 8px;
    width: 0; }

.pause_mark_small {
  border: 2px solid #fff;
  border-radius: 35px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.50;
  position: absolute;
  top: 50%;
  width: 50px; }
  .pause_mark_small:after {
    border-radius: 3px;
    content: "";
    height: 26px;
    left: 26px;
    position: absolute;
    top: 10px;
    width: 7px;
    background: white; }
  .pause_mark_small:before {
    border-radius: 3px;
    content: "";
    height: 26px;
    left: 13px;
    position: absolute;
    top: 10px;
    width: 7px;
    background: white; }

.lesson_mod {
  background: white;
  height: 150px;
  margin: -150px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 99; }
  .lesson_mod .lesson_mod_menu {
    background: #eee;
    height: 100px;
    width: 100%; }
    .lesson_mod .lesson_mod_menu .lesson_mod_image {
      float: left;
      margin: 0 10px 0 0;
      position: relative;
      width: 100px; }
      .lesson_mod .lesson_mod_menu .lesson_mod_image .mod_img {
        width: 140px;
        float: left; }
      .lesson_mod .lesson_mod_menu .lesson_mod_image .mod_img_pause {
        width: 140px;
        float: left; }
    .lesson_mod .lesson_mod_menu .lesson_mod_controls {
      float: left;
      width: 33%; }
      .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_progress_bar {
        border: 1px solid #999;
        border-radius: 20px;
        height: 20px;
        margin: 10px;
        padding: 3px 4px; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_progress_bar .progress_bar {
          border-radius: 130px;
          height: 12px;
          background: #555; }
      .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_time {
        width: 100%;
        height: 24px; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_time .lesson_current_time {
          color: #555;
          float: left;
          font-size: 80%;
          margin: 0 0 0 10px;
          padding: 3px;
          position: relative;
          width: 50%; }
          .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_time .lesson_current_time:before {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 6px solid #555;
            content: "";
            height: 0;
            left: 5px;
            position: absolute;
            bottom: -4px;
            width: 0; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_time .lesson_duration {
          color: #555;
          float: right;
          font-size: 80%;
          margin: 0 6px 0 0;
          padding: 3px;
          text-align: right;
          position: relative; }
          .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_time .lesson_duration:before {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 6px solid #555;
            content: "";
            height: 0;
            position: absolute;
            right: 8px;
            bottom: -4px;
            width: 0; }
      .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume {
        display: block;
        height: 30px;
        padding: 0 0 0 12%;
        width: 100%; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .lesson_mod_volume_controls {
          float: left;
          width: 27px; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .volume-meter {
          border: 1px solid #999;
          border-radius: 20px;
          display: block;
          float: left;
          height: 20px;
          margin: 3px 3px 0px;
          padding: 0 6px 0 0px;
          width: 60%; }
          .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .volume-meter .volume-bar {
            -webkit-animation: volumecontrol 8s infinite ease-in-out;
            -moz-animation: volumecontrol 8s infinite ease-in-out;
            animation: volumecontrol 8s infinite ease-in-out;
            height: 12px;
            width: 75%;
            margin: 3px 3px;
            display: block;
            border-radius: 6px;
            background: #555; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .lesson_mod_volume_max {
          background: url(/images/icon_volume_max.png) no-repeat;
          float: left;
          width: 40px; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .jp-mute {
          background: url(/images/icon_volume_play.png) no-repeat; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .jp-unmute {
          background: url(/images/icon_volume_mute.png) no-repeat; }
        .lesson_mod .lesson_mod_menu .lesson_mod_controls .lesson_mod_volume .icon-volume {
          display: inline-block;
          width: 26px;
          height: 26px;
          margin: 0px; }
    .lesson_mod .lesson_mod_menu .lesson_mod_info {
      float: left;
      width: 48%;
      padding: 10px 0 0 0; }
      .lesson_mod .lesson_mod_menu .lesson_mod_info h1 {
        color: #555;
        font-size: 150%;
        margin: 0 0 3% 0;
        text-align: right;
        text-transform: uppercase; }
      .lesson_mod .lesson_mod_menu .lesson_mod_info h2 {
        color: #555;
        font-size: 110%;
        margin: 0px;
        text-align: right;
        line-height: 1em; }
      .lesson_mod .lesson_mod_menu .lesson_mod_info h3 {
        color: #555;
        font-size: 90%;
        line-height: 1em;
        margin: 0px;
        text-align: right; }

.social_container {
  float: right;
  margin: 0 -3px 0 0;
  position: relative;
  width: 5%; }
  .social_container .social_facebook {
    background: url(/images/icon-facebook.png) no-repeat;
    top: 1px; }
  .social_container .social_twitter {
    background: url(/images/icon-twitter.png) no-repeat;
    top: 34px; }
  .social_container .social_google {
    background: url(/images/icon-google-plus.png) no-repeat;
    top: 67px; }
  .social_container .social_icon {
    background-size: 40%;
    background-position: 3px;
    border: 1px solid #999;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 0%;
    height: 32px;
    padding: 3px 5px;
    position: absolute;
    right: -20px;
    width: 100%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .social_container .social_icon:hover {
      background: rgba(100, 100, 100, 0.2);
      font-size: 90%;
      right: -2px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
