@import url('lessons_mod.css');
@import url('lessons.css');
@import url('lesson.css');
@import url('audio_interface.css');
body {
  color: #333;
  font-family: "News Cycle", sans-serif;
  font-size: 110%; }

h1 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400; }

h2 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  letter-spacing: -1px; }

.container {
  background: url("/images/back.png") no-repeat #f0f2ef;
  background-position: top left;
  margin: 140px 0 0 0px; }
